
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients</h2>
@Html.ActionLink("Ajouter un client", "New", "Clients", "" ,
    new { @class = "btn btn-primary mb-3" })
<table id="clients" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Type Abonnement</th>
            <th>delete</th>
        </tr>
    </thead>

</table>
@section scripts
{
        <script>
            $(document).ready(function () {
                $('#clients').DataTable({
                    ajax: {
                        url: '/api/clients', // URL de l'API
                        type: 'GET', // Méthode HTTP
                        dataSrc: '' // Spécifie où se trouvent les données dans la réponse JSON
                    },
                    columns: [
                        { data: 'id' },        // Correspond à la propriété "Id" dans le JSON
                        {
                            data: 'name',
                            render: function (data, type, client) {
                                return `<a href="/clients/details/${client.id}">${client.name}</a>`;
                            }
                        },       // Correspond à la propriété "Nom"
                        { data: 'email' },     // Correspond à la propriété "Email"
                        {
                            data: null,
                            render: function (data, type, client) {
                                return `<button onclick="deleteClient(${client.id})" class="btn btn-link js-delete">delete</button>`;
                            }
                        }
                    ]
                });
            });

        // Pour supprimé un client a l'intérieur de la table datatable
        function deleteClient(id) {
            if (confirm("Voulez-vous vraiment supprimer ce client ?")) {
                $.ajax({
                    url: `/api/clients/${id}`,
                    type: 'DELETE',
                    success: function () {
                        alert("Client supprimé avec succès !");
                        $('#clients').DataTable().ajax.reload(); // Recharge la table
                    },
                    error: function () {
                        alert("Une erreur est survenue lors de la suppression du client.");
                    }
                });
            }
        }
    </script>

}