@model BiblioPortal.ViewModels.RandomOutilsViewModels
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>

@{
    var className = Model.Clients.Count > 0 ? "popular" : null;
}
<p class=@className>@Model.Outil.Name</p>
@if(Model.Clients.Count ==0)
{
    <text>Aucun client a loué cet outils</text>
}
else
{
<ul>
    @foreach (var client in Model.Clients)
    {
        <li>@client.Name</li>
    }

</ul>
    
}